%h1 WorldElectronic
= form_with url: stores_path, method: :get, local: true do |form|
  = form.label :search
  = form.text_field :query
  = form.submit 'go'
%br/
%table
  %thead
    %tr
      %th Name
      %th Kind

  %tbody
  - @stores.each do |store|
    %tr
      %td
        = store.name
      %td
        = store.kind
      %td 
        = link_to 'Show', store_path(store)
        = link_to 'Destroy', store_path(store), method: :delete, data:{confirm: 'Are You Sure'}
      
%br/
= link_to 'New Store', new_store_path

